ci:
  autoupdate_schedule: quarterly
repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        args: ["--all", "--"]
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        args: ["--workspace"]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        # https://doc.rust-lang.org/stable/clippy/
        args: ["--workspace", "--", "-Dwarnings", "-Dclippy::pedantic", "-Dclippy::nursery", "-Dclippy::cargo", "-Aclippy::must_use_candidate", "-Aclippy::too-many-lines"]
        pass_filenames: false
